@model ProjectTW.Web.Models.GlobalData

<section class="wrapper main-wrapper row" style=''>

    <div class='col-12'>
        <div class="page-title">

            <div class="float-left">
                <!-- PAGE HEADING TAG - START --><h1 class="title">Book Appointment</h1><!-- PAGE HEADING TAG - END -->
            </div>

            <div class="float-right d-none">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="hos-book-appointment.html">Appointment</a>
                    </li>
                    <li class="active">
                        <strong>Book Appointment</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <!-- MAIN CONTENT AREA STARTS -->

    <div class="col-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title float-left">Basic Info</h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <form action="#" method="post">
                        <div class="col-12 col-md-9 col-lg-8">
                            <div class="form-group">
                                <label class="form-label" for="field-5">Speciality</label>
                                <span class="desc"></span>
                                <select class="form-control" name="Speciality">
                                    <option></option>
                                    @foreach (var speciality in Enum.GetValues(typeof(ProjectTW.Domain.Enums.DoctorSpeciality)))
                                    {
                                        <option>@speciality</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-5">Doctor</label>
                                <span class="desc"></span>
                                <select class="form-control" id="doctorSelect" name="doctorSelect">
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-5">Select date</label>
                                <div class="controls">
                                    <input type="text" class="form-control datepicker" data-format="mm/dd/yyyy" value="" name="dataSelect">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-5">Select time</label>
                                <span class="desc"></span>
                                <select class="form-control" id="timeSelect" name="timeSelect">
                                    <option></option>
                                </select>
                            </div>

                        </div>


                        <div class="col-12 col-md-9 col-lg-8 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </section>
    </div>

    <!-- MAIN CONTENT AREA ENDS -->
</section>