<section id="main-content" class=" ">
     <section class="wrapper main-wrapper row" style=''>

          <div class='col-12'>
               <div class="page-title">

                    <div class="float-left">
                         <!-- PAGE HEADING TAG - START --><h1 class="title">Edit Patient</h1><!-- PAGE HEADING TAG - END -->
                    </div>

                    <div class="float-right d-none">
                         <ol class="breadcrumb">
                              <li>
                                   <a href="index.html"><i class="fa fa-home"></i>Home</a>
                              </li>
                              <li>
                                   <a href="hos-patients.html">Patients</a>
                              </li>
                              <li class="active">
                                   <strong>Edit Patient</strong>
                              </li>
                         </ol>
                    </div>

               </div>
          </div>
          <div class="clearfix"></div>
          <!-- MAIN CONTENT AREA STARTS -->
          <div class="col-12">
               <section class="box ">
                    <header class="panel_header">
                         <h2 class="title float-left">Basic Info</h2>
                         <div class="actions panel_actions float-right">
                              <a class="box_toggle fa fa-chevron-down"></a>
                              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                              <a class="box_close fa fa-times"></a>
                         </div>
                    </header>
                    <div class="content-body">
                         <div class="row">
                              <form action="#" method="post">
                                   <div class="col-12 col-md-9 col-lg-8">

                                        <div class="form-group">
                                             <label class="form-label">Name</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" value="John Doe" class="form-control">
                                             </div>
                                        </div>


                                        <div class="form-group">
                                             <label class="form-label">Date of Birth</label>
                                             <span class="desc">e.g. "04/03/2015"</span>
                                             <div class="controls">
                                                  <input type="text" value="05/02/1985" class="form-control datepicker" data-format="mm/dd/yyyy">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label">Gender</label>
                                             <span class="desc"></span>
                                             <select class="form-control">
                                                  <option value="v"></option>
                                                  <option value="male" selected='selected'>Male</option>
                                                  <option value="female">Female</option>
                                             </select>
                                        </div>
                                        <div class="form-group">
                                             <label class="form-label">Profile Image</label>
                                             <span class="desc"></span>
                                             <img class="img-fluid" src="../data/patients/patient-1.jpg" alt="" style="max-width:120px;">
                                             <div class="controls">
                                                  <input type="file" class="form-control">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label">Brief</label>
                                             <span class="desc">e.g. "Enter any size of text description here"</span>
                                             <div class="controls">
                                                  <textarea class="form-control autogrow" cols="5">Mr. John has some pain in knee joints after his last knee surgery.</textarea>
                                             </div>
                                        </div>


                                        <div class="col-12 col-md-9 col-lg-8 padding-bottom-30">
                                             <div class="text-left">
                                                  <button type="button" class="btn btn-primary">Save</button>
                                                  <button type="button" class="btn">Cancel</button>
                                             </div>
                                        </div>
                                   </div>
                              </form>
                         </div>


                    </div>
               </section>
          </div>


          <div class="col-12">
               <section class="box ">
                    <header class="panel_header">
                         <h2 class="title float-left">Patient Account Info</h2>
                         <div class="actions panel_actions float-right">
                              <a class="box_toggle fa fa-chevron-down"></a>
                              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                              <a class="box_close fa fa-times"></a>
                         </div>
                    </header>
                    <div class="content-body">
                         <div class="row">
                              <form action="#" method="post">
                                   <div class="col-12 col-md-9 col-lg-8">

                                        <div class="form-group">
                                             <label class="form-label">Email</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" value="email@example.com" class="form-control">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label">Phone</label>
                                             <span class="desc">e.g. "(534) 253-5353"</span>
                                             <div class="controls">
                                                  <input type="text" value="(123) 456-7878" class="form-control" data-mask="phone" placeholder="(999) 999-9999">
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="form-label">Password</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="password" value="abcdefgh" class="form-control">
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="form-label">Confirm Password</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="password" value="abcdefgh" class="form-control" id="field-21">
                                             </div>
                                        </div>
                                   </div>


                                   <div class="col-12 col-md-9 col-lg-8 padding-bottom-30">
                                        <div class="text-left">
                                             <button type="button" class="btn btn-primary">Save</button>
                                             <button type="button" class="btn">Cancel</button>
                                        </div>
                                   </div>
                              </form>
                         </div>


                    </div>
               </section>
          </div>

          <div class="col-12">
               <section class="box ">
                    <header class="panel_header">
                         <h2 class="title float-left">Patient Social Media Info</h2>
                         <div class="actions panel_actions float-right">
                              <a class="box_toggle fa fa-chevron-down"></a>
                              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                              <a class="box_close fa fa-times"></a>
                         </div>
                    </header>
                    <div class="content-body">
                         <div class="row">
                              <form action="#" method="post">
                                   <div class="col-12 col-md-9 col-lg-8">

                                        <div class="form-group">
                                             <label class="form-label">Facebook URL</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" class="form-control" value="http://www.facebook.com/userID" id="field-31">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label">Twitter URL</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" class="form-control" value="http://www.twitter.com/userID" id="field-41">
                                             </div>
                                        </div>

                                        <div class="form-group">
                                             <label class="form-label">Google Plus URL</label>
                                             <span class="desc"></span>
                                             <div class="controls">
                                                  <input type="text" class="form-control" value="http://www.plus.google.com/userID" id="field-51">
                                             </div>
                                        </div>


                                   </div>
                                   <div class="col-12 col-md-9 col-lg-8 padding-bottom-30">
                                        <div class="text-left">
                                             <button type="button" class="btn btn-primary">Save</button>
                                             <button type="button" class="btn">Cancel</button>
                                        </div>
                                   </div>

                              </form>
                         </div>


                    </div>
               </section>
          </div>

          <!-- MAIN CONTENT AREA ENDS -->
     </section>
</section>