<section class="wrapper main-wrapper row" style=''>

    <div class='col-12'>
        <div class="page-title">

            <div class="float-left">
                <!-- PAGE HEADING TAG - START --><h1 class="title">Hospital</h1><!-- PAGE HEADING TAG - END -->
            </div>


        </div>
    </div>
    <div class="clearfix"></div>
    <!-- MAIN CONTENT AREA STARTS -->

    <img src="~/Template/assets/images/logo-med.png" />

    <!-- MAIN CONTENT AREA ENDS -->
</section>