<section class="wrapper main-wrapper row" style=''>

    <div class='col-12'>
        <div class="page-title">

            <div class="float-left">
                <!-- PAGE HEADING TAG - START --><h1 class="title">Hospital</h1><!-- PAGE HEADING TAG - END -->
            </div>


        </div>
    </div>
    <div class="clearfix"></div>
    <!-- MAIN CONTENT AREA STARTS -->


    <div class="col-xl-12">
        <section class="box nobox ">
            <div class="content-body">

                <div class="row">



                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="r1_maingraph db_box">
                            <span class='float-left'>
                                <i class='icon-purple fa fa-square icon-xs'></i>&nbsp;<small>Quality of Service</small>&nbsp; &nbsp;<i class='fa fa-square icon-xs icon-primary'></i>&nbsp;<small>Service Recommendations</small>
                            </span>
                            <div id="db_morris_area_graph" style="height:auto;width:100%;"></div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 col-12">

                        <div class="row">
                            <div class="col-12">

                                <div class="r1_graph1 db_box db_box_large">
                                    <span class='bold'>68.95%</span>
                                    <span class='float-right'><small>New Patients</small></span>
                                    <div class="clearfix"></div>
                                    <span class="db_dynamicbar">Loading...</span>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="r1_graph2 db_box db_box_large">
                                    <span class='bold'>2332</span>
                                    <span class='float-right'><small>Pharmacy Orders</small></span>
                                    <div class="clearfix"></div>
                                    <span class="db_linesparkline">Loading...</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div> <!-- End .row -->





                <div class="row">



                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="r1_maingraph db_box">
                            <span class='float-left'>
                                <i class='icon-purple fa fa-square icon-xs'></i>&nbsp;<small>OPD Earnings</small>&nbsp; &nbsp;<i class='fa fa-square icon-xs icon-primary'></i>&nbsp;<small>IPD Earnings</small>
                            </span>
                            <div id="db_morris_line_graph" style="height:auto;width:100%;"></div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 col-12">

                        <div class="row">
                            <div class="col-12">

                                <div class="r1_graph1 db_box db_box_large">
                                    <span class='bold'>67/98</span>
                                    <span class='float-right'><small>OPD/IPD Visitors</small></span>
                                    <div class="clearfix"></div>
                                    <span class="db_compositebar">Loading...</span>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="r1_graph2 db_box db_box_large">
                                    <span class='bold'>332</span>
                                    <span class='float-right'><small>Lab Tests</small></span>
                                    <div class="clearfix"></div>
                                    <span class="db_linesparkline2">Loading...</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div> <!-- End .row -->

            </div>
        </section>
    </div>



    <!-- MAIN CONTENT AREA ENDS -->
</section>