@using System.Web.Optimization;
<!-- MAIN MENU - START -->
<div class="page-sidebar-wrapper" id="main-menu-wrapper">

    <!-- USER INFO - START -->
    <div class="profile-info row">

        <div class="profile-image col-4">
            <a href="">
                <img alt="" src="Template/data/profile/profile-hospital.jpg" class="img-fluid rounded-circle">
            </a>
        </div>

        <div class="profile-details col-8">

            <h3>
                <a href="">Dr. Alan Wilson</a>

                <!-- Available statuses: online, idle, busy, away and offline -->
                <span class="profile-status online"></span>
            </h3>

            <p class="profile-title">Surgeon</p>

        </div>

    </div>
    <!-- USER INFO - END -->



    <ul class='wraplist'>


        <li class="open">
            <a href="Home">
                <i class="fa fa-dashboard"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-user-md"></i>
                <span class="title">Doctors</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="AllDoctors">All Doctors</a>
                </li>
                <li>
                    @Html.ActionLink("Add Doctor", "Index", "DoctorAdd")
                </li>
                <li>
                    @Html.ActionLink("Edit Doctor", "Index", "DoctorEdit")
                </li>
                <li>
                    @Html.ActionLink("Doctor Profile", "Index", "DoctorProfile")
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-users"></i>
                <span class="title">Patients</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="hos-patients.html">All Patients</a>
                </li>
                <li>
                    <a class="" href="hos-patient-add.html">Add Patient</a>
                </li>
                <li>
                    <a class="" href="hos-patient-edit.html">Edit Patient</a>
                </li>
                <li>
                    <a class="" href="PatientProfile">Patient Profile</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-calendar-o"></i>
                <span class="title">Appointment</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="hos-doc-schedule.html">Doctor Schedule</a>
                </li>
                <li>
                    <a class="" href="hos-book-appointment.html">Book Appointment</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-bar-chart"></i>
                <span class="title">Reports</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="hos-report-patient.html">Patient</a>
                </li>
                <li>
                    <a class="" href="hos-report-hospital.html">Hospital</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "Events")">
                <i class="fa fa-calendar"></i>
                <span class="title">Event Management</span>
            </a>
        </li>
    </ul>
</div>
<!-- MAIN MENU - END -->