<section id="main-content" class=" ">
     <section class="wrapper main-wrapper row" style=''>

          <div class='col-12'>
               <div class="page-title">

                    <div class="float-left">
                         <!-- PAGE HEADING TAG - START --><h1 class="title">All Doctors</h1><!-- PAGE HEADING TAG - END -->
                    </div>

                    <div class="float-right d-none">
                         <ol class="breadcrumb">
                              <li>
                                   <a href="index.html"><i class="fa fa-home"></i>Home</a>
                              </li>
                              <li>
                                   <a href="hos-doctors.html">Doctors</a>
                              </li>
                              <li class="active">
                                   <strong>All Doctors</strong>
                              </li>
                         </ol>
                    </div>

               </div>
          </div>
          <div class="clearfix"></div>
          <!-- MAIN CONTENT AREA STARTS -->

          <div class="col-xl-12">
               <section class="box ">
                    <header class="panel_header">
                         <h2 class="title float-left">All Doctors</h2>
                         <div class="actions panel_actions float-right">
                              <a class="box_toggle fa fa-chevron-down"></a>
                              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                              <a class="box_close fa fa-times"></a>
                         </div>
                    </header>
                    <div class="content-body">
                         <div class="row">
                              <div class="col-12">

                                   <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                             <div class="team-member ">
                                                  <div class="team-img">
                                                       <img class="img-fluid" src="Template/data/doctors/doctor-1.jpg" alt="">
                                                  </div>
                                                  <div class="team-info">
                                                       <h3><a href="hos-doctor-profile.html">Dr. Clarine Vassar</a></h3>
                                                       <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
                                                       <span>Physician</span>
                                                  </div>
                                                  <p> The surgical specialties are the specialties in which an important part of diagnosis and treatmentby surgery. </p>
                                                  <ul class="social-icons list-inline list-unstyled">
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                                  </ul>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                             <div class="team-member ">
                                                  <div class="team-img">
                                                       <img class="img-fluid" src="Template/data/doctors/doctor-2.jpg" alt="">
                                                  </div>
                                                  <div class="team-info">
                                                       <h3><a href="hos-doctor-profile.html">Dr. Brooks Latshaw</a></h3>
                                                       <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
                                                       <span>Surgeon</span>
                                                  </div>
                                                  <p> The surgical specialties are the specialties in which an important part of diagnosis and treatmentby surgery. </p>
                                                  <ul class="social-icons list-inline list-unstyled">
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                                  </ul>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                             <div class="team-member ">
                                                  <div class="team-img">
                                                       <img class="img-fluid" src="Template/data/doctors/doctor-3.jpg" alt="">
                                                  </div>
                                                  <div class="team-info">
                                                       <h3><a href="hos-doctor-profile.html">Dr. Clementina Brodeur</a></h3>
                                                       <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
                                                       <span>Cardiologist</span>
                                                  </div>
                                                  <p>The internal medicine specialties are the specialties in which the main diagnosis and  major surgery. </p>
                                                  <ul class="social-icons list-inline list-unstyled">
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                                  </ul>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                             <div class="team-member ">
                                                  <div class="team-img">
                                                       <img class="img-fluid" src="Template/data/doctors/doctor-4.jpg" alt="">
                                                  </div>
                                                  <div class="team-info">
                                                       <h3><a href="hos-doctor-profile.html">Dr. Carri Busey</a></h3>
                                                       <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
                                                       <span>Physician</span>
                                                  </div>
                                                  <p> The surgical specialties are the specialties in which an important part of diagnosis and treatmentby surgery. </p>
                                                  <ul class="social-icons list-inline list-unstyled">
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                                  </ul>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                             <div class="team-member ">
                                                  <div class="team-img">
                                                       <img class="img-fluid" src="Template/data/doctors/doctor-5.jpg" alt="">
                                                  </div>
                                                  <div class="team-info">
                                                       <h3><a href="hos-doctor-profile.html">Melissa Dock</a></h3>
                                                       <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
                                                       <span>Orthopaedics</span>
                                                  </div>
                                                  <p>The internal medicine specialties are the specialties in which the main diagnosis and  major surgery. </p>
                                                  <ul class="social-icons list-inline list-unstyled">
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                                  </ul>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                             <div class="team-member ">
                                                  <div class="team-img">
                                                       <img class="img-fluid" src="Template/data/doctors/doctor-6.jpg" alt="">
                                                  </div>
                                                  <div class="team-info">
                                                       <h3><a href="hos-doctor-profile.html">Dr. Clay Peskin</a></h3>
                                                       <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
                                                       <span>Neurosurgery</span>
                                                  </div>
                                                  <p> The surgical specialties are the specialties in which an important part of diagnosis and treatmentby surgery. </p>
                                                  <ul class="social-icons list-inline list-unstyled">
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                                  </ul>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                             <div class="team-member ">
                                                  <div class="team-img">
                                                       <img class="img-fluid" src="Template/data/doctors/doctor-7.jpg" alt="">
                                                  </div>
                                                  <div class="team-info">
                                                       <h3><a href="hos-doctor-profile.html">Dr. Winford K.</a></h3>
                                                       <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
                                                       <span>Neurology</span>
                                                  </div>
                                                  <p>The internal medicine specialties are the specialties in which the main diagnosis and  major surgery. </p>
                                                  <ul class="social-icons list-inline list-unstyled">
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                                  </ul>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                             <div class="team-member ">
                                                  <div class="team-img">
                                                       <img class="img-fluid" src="Template/data/doctors/doctor-8.jpg" alt="">
                                                  </div>
                                                  <div class="team-info">
                                                       <h3><a href="hos-doctor-profile.html">Dr. Cart</a></h3>
                                                       <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
                                                       <span>Physician</span>
                                                  </div>
                                                  <p> The surgical specialties are the specialties in which an important part of diagnosis and treatmentby surgery. </p>
                                                  <ul class="social-icons list-inline list-unstyled">
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                                  </ul>
                                             </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                             <div class="team-member ">
                                                  <div class="team-img">
                                                       <img class="img-fluid" src="Template/data/doctors/doctor-9.jpg" alt="">
                                                  </div>
                                                  <div class="team-info">
                                                       <h3><a href="hos-doctor-profile.html">Dr. Angle Law</a></h3>
                                                       <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
                                                       <span>Surgeon</span>
                                                  </div>
                                                  <p> The surgical specialties are the specialties in which an important part of diagnosis and treatmentby surgery. </p>
                                                  <ul class="social-icons list-inline list-unstyled">
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-facebook icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-twitter icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-google-plus icon-bordered icon-primary icon-xs"></i></a></li>
                                                       <li class='list-inline-item'><a href="#"><i class="fa fa-linkedin icon-bordered icon-primary icon-xs"></i></a></li>
                                                  </ul>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>
               </section>
          </div>


          <!-- MAIN CONTENT AREA ENDS -->
     </section>
</section>