@model ProjectTW.Web.Models.GlobalData

<br />
<br />
<br />
<div class='col-12'>
    <div class="page-title">
        <div class="float-left">
            <!-- PAGE HEADING TAG - START --><h1 class="title">Events</h1><!-- PAGE HEADING TAG - END -->
        </div>
    </div>
</div>

<div class="col-xl-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title float-left">Programări</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-12">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AllAppointments != null && Model.AllAppointments.Count > 0)
                            {
                                int i = 1;

                                foreach (var appointment in Model.AllAppointments)
                                {
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>@appointment.FullName</td>
                                        <td>@appointment.AppointmentDateTime.ToShortDateString()</td>
                                        <td>@appointment.AppointmentDateTime.ToShortTimeString()</td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
</div>