@using System.Web.Optimization
@model ProjectTW.Web.Models.NewUserData


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card">

                <div class="card-body p-4">

                    <div class="text-center w-75 m-auto">
                        <a href="index.html">
                            <span><img src="~/Template/assets/images/logo-med.png" alt="" height="150"></span>
                        </a>
                        <p class="text-muted mb-4 mt-3">Don't have an account? Create your own account, it takes less than a minute</p>
                    </div>

                    @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @action = "#" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input class="form-control" type="text" id="fullname" placeholder="Enter your name" required name="FullName">
                        </div>
                        <div class="form-group">
                            <label for="emailaddress">Email address</label>
                            <input class="form-control" type="email" id="emailaddress" required placeholder="Enter your email" name="Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" required id="password" placeholder="Enter your password" name="Password">
                        </div>
                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary btn-block" type="submit"> Sign Up </button>
                        </div>
                    }

                </div> <!-- end card-body -->
            </div>
            <!-- end card -->

            <div class="row mt-3">
                <div class="col-12 text-center">
                    <p class="text-muted">Already have account? @Html.ActionLink("Sign In", "Index", "Login")</p>
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>